{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h>Add Cash</h>
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="1" name="amount" placeholder="Amount" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
    </form>
    
    <h>Portfolio</h>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ (currentUser[0]["cash"] + totalStockPrice) | usd}}</td>
            </tr>
        </tfoot>
        <tbody>
            
            {% for row in stockList %}
                <tr>
                    <td>{{ row["stock"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["amount"] }}</td>
                    <td>{{ row["price"] | usd }}</td>
                    <td>{{ (row["price"]|float * row["amount"]|float) | usd}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ currentUser[0]["cash"] | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}